<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <!--/*@thymesVar id="title" type="java"*/-->
    <title th:text="${title}">Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a th:href="@{/}" href="home.html"> Home </a></li>
                <li><a th:href="@{/logout}" href="logout"> Logout </a></li>
                <li><a th:href="@{/token}" target="_blank"> Get new token </a></li>
            </ul>
        </div>
    </div>
    YOU WUNNA SOME DATA? COM CLOSER MY FRIEND.
    <!--/*@thymesVar id="title" type="java"*/-->
    <h2>Your token:</h2>
    <h1 th:text="${token}">Title</h1>

    <!--/*@thymesVar id="message" type="java"*/-->
    <div th:text="${message}">Fake content</div>

    <!--/*@thymesVar id="date" type="java"*/-->
    <div id="images">
        <h2>All used images</h2>
        <!--/*@thymesVar id="images" type="java"*/-->
        <table>
            <tr th:each="image : ${images}">
                <td><a th:href="${image.getUrl()}" th:text="${image.getTitle()}"></a></td>
            </tr>
        </table>
    </div>
    <div id="favImages">
        <h2>Favourites</h2>
        <table>
            <!--/*@thymesVar id="favouriteImages" type="java"*/-->
            <tr th:each="image : ${favouriteImages}">
                <!--/*@thymesVar id="image" type="java"*/-->
                <td><a th:href="${image.getUrl()}" th:text="${image.getTitle()}"></a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
